In [1]:
# Imports & DB path 
import sqlite3, os
import pandas as pd

DB_PATH = os.path.abspath("cricbuzz.db")
print("DB path:", DB_PATH)

# Helper: quick connect function
def get_conn():
    return sqlite3.connect(DB_PATH)

DB path: C:\Users\susen\Desktop\CricbuzzProject\cricbuzz.db

In [2]:
# List tables
#with get_conn() as conn:
    tables = conn.execute("SELECT name FROM sqlite_master WHERE type='table'").fetchall()
tables

[('live_matches',)]

In [3]:
# See the schema of live_matches
with get_conn() as conn:
    schema = conn.execute("PRAGMA table_info(live_matches)").fetchall()
schema

[(0, 'match_id', 'TEXT', 0, None, 1),
 (1, 'series_name', 'TEXT', 0, None, 0),
 (2, 'team1', 'TEXT', 0, None, 0),
 (3, 'team2', 'TEXT', 0, None, 0),
 (4, 'status', 'TEXT', 0, None, 0)]

In [4]:
# Preview rows
with get_conn() as conn:
    df = pd.read_sql_query("SELECT * FROM live_matches LIMIT 10", conn)
df

,match_id,series_name,team1,team2,status
0,131119,Netherlands tour of Bangladesh 2025,Bangladesh,Netherlands,Rain stops play
1,122962,"Sri Lanka tour of Zimbabwe, 2025",Zimbabwe,Sri Lanka,Sri Lanka won by 4 wkts
2,130762,Kerala Cricket League 2025,Aries Kollam Sailors,Kochi Blue Tigers,Innings Break
3,130756,Kerala Cricket League 2025,Adani Trivandrum Royals,Alleppey Ripples,Adani Trivandrum Royals won by 110 runs
4,132632,Uttar Pradesh Premier League 2025,Lucknow Falcons,Gaur Gorakhapur Lions,Lucknow Falcons opt to bat
5,132621,Uttar Pradesh Premier League 2025,Kashi Rudras,Meerut Mavericks,Kashi Rudras won by 5 runs
6,116489,"New Zealand A tour of South Africa, 2025",South Africa A,New Zealand A,New Zealand A need 98 runs in 91 balls
7,131625,ICC Womens T20 World Cup Africa Region Divisio...,Nigeria Women,Zimbabwe Women,Nigeria Women opt to bat
8,131614,ICC Womens T20 World Cup Africa Region Divisio...,Kenya Women,Uganda Women,Uganda Women opt to bowl
9,131609,ICC Womens T20 World Cup Africa Region Divisio...,Namibia Women,Sierra Leone Women,Namibia Women won by 152 runs

#### Create the new tables (for full scorecard)

This prepares the database for team scores & player stats we’ll fetch next.

#### — Create match_score and player_stats

In [5]:
with get_conn() as conn:
    conn.execute("""
    CREATE TABLE IF NOT EXISTS match_score (
        match_id TEXT,
        team_name TEXT,
        runs INTEGER,
        wickets INTEGER,
        overs TEXT,
        target TEXT,
        status TEXT
    )
    """)
    conn.execute("""
    CREATE TABLE IF NOT EXISTS player_stats (
        match_id TEXT,
        player_name TEXT,
        team_name TEXT,
        role TEXT,
        runs INTEGER,
        balls INTEGER,
        wickets INTEGER,
        overs TEXT,
        economy REAL
    )
    """)
    conn.commit()

print("✅ Tables created (if not already).")

✅ Tables created (if not already).

In [6]:
# Confirm the new tables exist
with get_conn() as conn:
    tables = conn.execute("SELECT name FROM sqlite_master WHERE type='table'").fetchall()
tables

[('live_matches',), ('match_score',), ('player_stats',)]

In [7]:
# Run any SQL you want (helper cell)
def run_sql(sql, params=None):
    params = params or []
    with get_conn() as conn:
        try:
            if sql.strip().lower().startswith("select"):
                df = pd.read_sql_query(sql, conn, params=params)
                return df
            else:
                cur = conn.execute(sql, params)
                conn.commit()
                return f"Done. Rows affected: {cur.rowcount}"
        except Exception as e:
            return f"SQL error: {e}"

In [8]:
run_sql("SELECT * FROM live_matches LIMIT 5")

,match_id,series_name,team1,team2,status
0,131119,Netherlands tour of Bangladesh 2025,Bangladesh,Netherlands,Rain stops play
1,122962,"Sri Lanka tour of Zimbabwe, 2025",Zimbabwe,Sri Lanka,Sri Lanka won by 4 wkts
2,130762,Kerala Cricket League 2025,Aries Kollam Sailors,Kochi Blue Tigers,Innings Break
3,130756,Kerala Cricket League 2025,Adani Trivandrum Royals,Alleppey Ripples,Adani Trivandrum Royals won by 110 runs
4,132632,Uttar Pradesh Premier League 2025,Lucknow Falcons,Gaur Gorakhapur Lions,Lucknow Falcons opt to bat